<h1>Mi carrito de compras</h1>
<h4>Productos en mi carrito: <%= @elements.size %></h4>
<table class="table">
  <thead>
  <tr>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Costo Total</th>
  </tr>
  </thead>
  <tbody>
  <% @elements.each_pair do |key, elem| %>
      <% if elem[:product].present? %>
          <tr>
            <td><%= elem[:product].try(:name) %></td>
            <td><%= elem[:count] %></td>
            <td><%= number_to_currency(total_cost_product_in_cart(elem), precision: 2) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<p>Total a Pagar: <strong><%= total_cart_amount(@elements) %></strong></p>
<%= link_to 'Efectuar Pago', '#', class:'btn btn-warning' %>